# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

.DS_Store
static/.DS_Store
static/gitbook/.DS_Store
static/gitbook/assets/.DS_Store
static/gitbook/assets/pybytes/.DS_Store
scripts/githubToken.json
