<v-navigation-drawer
  v-model="drawer"
  fixed
  app
  class="lighten-4 pt-0"
  style="overflow-y: hidden; overflow-x: hidden;margin-top:68px;"
>

  <div class="fancyScroll pa-0 ma-0" style="overflow-y: scroll; overflow-x: hidden;
      max-height: 100%;" >

    <v-divider class="mr-2 ml-1 mb-4" style="border: 0"></v-divider>

      <ul class="lefttree">
        <li class="lefttree">
            <a href="/" class="beba" style="color: #1E1E3C; text-decoration: none;" >
              <v-icon style="color: #1E1E3C;" class="mr-1" >home</v-icon> Introduction</a>
        </li>
      </ul>

    {{ partial "menu_recursive.html" (dict "menu" .Site.Menus.main "page" . "level" 0) }}

    <v-divider class="grey lighten-1 ma-2 mt-4 mb-4"></v-divider>

    <ul class="lefttree" >Have a question ?
      <li class="lefttree">  <a href="https://forum.pycom.io">Ask on the forum</a>
        
    </ul>
    <p>&nbsp;</p>
    <li class="lefttree"> <a href="" class="dev">Development Feature</a></li>
      <p>&nbsp;</p>
      
  </div>
</v-navigation-drawer>
