/*
  base
  rgb(45, 134, 179)

  dark
  rgb(34, 101, 134)
*/

@import 'base.css';

.book .book-summary {
  background-color: #2D3143;
  box-shadow: inset -4px 0 0 #2D3143;
}

.book .book-summary ul.summary {
  background-color: #2D3143;
  background-image: url(pymakr-logo.png);
  background-position-x: center;
  background-size: 200px;
  box-shadow: inset -4px 0 0 #2D3143;
}

/*mark {
    background-color: #E7F2FA;
}*/

function {
	display: inline-block;
	margin: 6px 0;
	font-size: 90%;
	font-weight: bold;
	line-height: normal;
	background: #e7f2fa;
	color: #2980B9;
	border-top: solid 3px #6ab0de;
	padding: 6px;
	position: relative;
}

class {
	display: inline-block;
	margin: 6px 0;
	font-size: 90%;
	font-weight: bold;
	line-height: normal;
	background: #ceeade;
	color: #049b57;
	border-top: solid 3px #1abc76;
	padding: 6px;
	position: relative;
}

constant {
	display: inline-block;
	margin: 6px 0;
	font-size: 90%;
	font-weight: bold;
	line-height: normal;
	background: #efcdbf;
	color: #d65b26;
	border-top: solid 3px #f7733b;
	padding: 6px;
	position: relative;
}
